 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Environment</h2>
      <i class="devicon-debian-plain"></i>
      <i class="devicon-vim-plain"></i>
      <i class="devicon-windows8-original"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-python-plain"></i>
      <i class="devicon-c-plain"></i>
      <p>I've been programming in Python for more than 6 years. But more recently I've taken a liking to both C++ and C for both embedded systems and Linux-based applications.</p>
    </div>
    <div class="tech">
      <h2>Development</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain"></i>
      <i class="devicon-bitbucket-original"></i>
      <p>Beyond just the programming languages I'm proficient in, I've been working with system pipelines built on Git and Jenkins. As well as building code within docker containers.</p>
    </div>
</div>
